SECRET_KEY=
DEBUG=1

# redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=

# email
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=587
EMAIL_USE_TLS=1
EMAIL_FROM=

# database
POSTGRESQL_HOST=database
POSTGRESQL_PORT=5432
POSTGRESQL_DATABASE=
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=

# app
API_BASE_URL=http://localhost
ALLOWED_EMAIL_DOMAINS=*
DJANGO_LOGLEVEL=INFO
ALLOWED_HOSTS
CSRF_TRUSTED_ORIGINS
CORS_ALLOW_ALL_ORIGINS=1
CORS_ALLOW_CREDENTIALS=1

# django-superuser
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=

# grafana
GF_SECURITY_ADMIN_PASSWORD=
GF_SECURITY_ADMIN_USER=

# host
PRODUCTION_HOST=

# celery
CELERY_WORKER_LOGLEVEL=INFO

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
AWS_S3_SIGNATURE_VERSION=
AWS_S3_FILE_OVERWRITE=
AWS_DEFAULT_ACL=
DEFAULT_FILE_STORAGE=