{% include "layout/header.html" %}
<div id="content">
	<p id="hello">Hello <strong>{{name}}</strong>, Welcome again to the <span
					style="color: #00cfff;"><strong>Yoona.ai</strong>.</span></p>
	<p style="padding-bottom: 30px;">You're just one click away from activating your account, please click the link
		below to set up your account.
        If you have already activated your account, please ignore this email.
    </p>
    <a href="{{client_url}}/activate-user/{{ token }}/"> Activate </a>
	<p id="note">Note: If you don't recognize this email please ignore it. </p>
</div>
{% include "layout/footer.html" %}